<%- include("partials/header") %>

<main class="text-center py-4">
  <h1>Vous n'êtes pas connecté</h1>
  <p><a href="/login">Connectez-vous pour jouer à Oquiz !</a></p>
</main>

<%- include("partials/footer") %>