<%- include('partials/header') %>

<main class="container py-4">
    <h1>Modifier son mot de passe</h1>

    <form action="/profile/u<%= locals.user.id%>/editprofile" method="post" id="editPassword">
        <label class="form-label h4" for="email">Ancien mot de passe</label>
        <input class="form-control mb-4" type="password" id="oldPassword">

        <label class="form-label h4" for="email">Nouveau mot de passe</label>
        <input class="form-control mb-4" type="password" id="newPassword">

        <label class="form-label h4" for="email">Confirmation du nouveau mot de passe</label>
        <input class="form-control mb-4" type="password" id="confirmationNewPassword">

        <input class="btn btn-primary d-block my-4 mx-auto" id="confirmPassword" type="submit" value="Changer de mot de passe" name="editPassword">
    </form>
</main>


<%- include('partials/footer') %>