<%- include('partials/header') %>

<main class="container py-4">
    <h1>Modifier son mot de passe</h1>
    <% if(locals.errorMessage){%> <%= locals.errorMessage %> <% } %>

    <form action="/profile/u<%= locals.user.id%>/editpassword" method="POST">
        <label class="form-label h4" for="email">Ancien mot de passe</label>
        <input class="form-control mb-4" type="password" name="oldPassword">

        <label class="form-label h4" for="email">Nouveau mot de passe</label>
        <input class="form-control mb-4" type="password" name="newPassword">

        <label class="form-label h4" for="email">Confirmation du nouveau mot de passe</label>
        <input class="form-control mb-4" type="password" name="confirmNewPassword">

        <input class="btn btn-primary d-block my-4 mx-auto"type="submit" value="Changer de mot de passe">
    </form>
</main>


<%- include('partials/footer') %>